<!DOCTYPE html>
<html>
  <head>
    <title>Bookers</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </haed>

  <body>
    <p><strong>title: </strong><%= @book.title %></p>
    <p><strong>body: </strong><%= @book.body %></p>
    <%= link_to 'Edit', edit_book_path(@book) %>
    |
    <a class="back" href="/books">Back</a>
  </body>